<!DOCTYPE html>
<head>
  <title>Landmarks Index</title>
</head>
<body>
  <h1>Landmarks</h1>
  <% Landmark.all.each_with_index do |landmark,i| %>
    <%= "#{i+1}. "%><a href="/landmarks/<%=landmark.id%>"><%= landmark.name %></a>
    // <b>Year Completed:</b> <%=landmark.year_completed%><br></br>
  <% end %>
</body>
</html>